body {
  background-color: #afb1b6;
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 25px;
  line-height: 20px;
  text-align: justify;
}
h1 {
  color: #00295c;
  font-family: 'Roboto', serif;
  font-size: 30px bold;
  line-height: 30px;
}
.description {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
}
.img-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
h2 {
  color: #00295c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
}
ul {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}
a {
  color: #223f6a;
  text-decoration: none;
  line-height: 10px;
}
a:hover {
  color: white;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.first_card {
  background-color: #edf0f6;
  border: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px #4f4f4f;
}
.second_card {
  background-color: #edf0f6;
  opacity: 0.8;
  border: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px #4f4f4f;
}
li {
  display: inline-block;
  padding: center;
  font-size: 50px;
  float: left;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
